* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

html, body, .wrap {
  width: 100%;
  height: 100%;
  overflow: hidden; }

html, body {
  font-size: 100px; }

.wrap {
  font-size: .16rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.header {
  width: 100%;
  height: .44rem;
  position: relative; }
  .header ul {
    width: 100%;
    height: .44rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    line-height: .44rem; }
    .header ul li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      text-align: center; }
    .header ul .bg {
      border-bottom: 3px solid red; }
  .header span {
    position: absolute;
    right: .06rem;
    top: 0;
    width: 1rem;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    display: inline-block;
    font-size: .14rem;
    color: #C4C4C4; }

.nav {
  width: 100%;
  height: .44rem;
  background: #F3F3F3; }
  .nav ul {
    width: 90%;
    height: .3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: .3rem;
    margin: .07rem 0 0 5%;
    border-radius: 10px; }
    .nav ul li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 30%;
      text-align: center;
      border: 1px solid #ccc; }
    .nav ul .navbg {
      background: #FE4D4D;
      color: #fff; }

.top {
  width: 100%;
  height: .44rem;
  position: relative; }
  .top ul {
    width: 100%;
    height: .3rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: .3rem;
    margin-top: .07rem; }
    .top ul li {
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
      width: 25%;
      height: .3rem;
      text-align: center;
      font-size: .13rem; }
    .top ul .topbg {
      color: red;
      border-right: 1px solid #ccc; }
  .top span {
    position: absolute;
    right: 0;
    top: 0;
    width: 25%;
    height: .44rem;
    line-height: .44rem;
    text-align: center;
    display: inline-block;
    font-size: .14rem;
    color: #C4C4C4; }
    .top span i {
      font-size: .2rem;
      color: #787878; }

.main {
  width: 100%;
  height: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow-y: scroll; }
  .main .box {
    width: 100%;
    height: 100%; }
    .main .box .mbox {
      width: 100%;
      height: 1rem;
      border: 1px solid #ccc;
      position: relative;
      padding: .1rem; }
      .main .box .mbox .sp {
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px; }
        .main .box .mbox .sp img {
          width: 100%;
          height: 100%; }
      .main .box .mbox .sp1 {
        text-indent: .4rem;
        display: inline-block; }
      .main .box .mbox p {
        width: 70%;
        display: inline-block;
        font-size: .12rem; }
      .main .box .mbox .sp2 {
        position: absolute;
        right: .1rem;
        top: .1rem;
        width: 20%;
        height: .2rem;
        text-align: center;
        line-height: .2rem;
        border-radius: .2rem;
        border: 1px solid #7FDD81;
        font-size: .12rem;
        color: #7FDD81; }
      .main .box .mbox ul {
        width: 100%;
        height: .6rem;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        line-height: .3rem;
        font-size: .12rem;
        position: relative; }
        .main .box .mbox ul li {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
              -ms-flex-positive: 1;
                  flex-grow: 1;
          width: 25%;
          text-align: center; }
          .main .box .mbox ul li p {
            font-size: 12px; }
          .main .box .mbox ul li img {
            width: 100%;
            height: 30%;
            padding-top: .05rem; }

.footer {
  width: 100%;
  height: .44rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }
  .footer .box {
    width: 25%; }
  .footer .color {
    color: red; }

/*# sourceMappingURL=style.css.map */